[project]
name = "echocheck"
version = "0.1.0"
description = "Political Ideology and Stance Classification using Advanced NLP techniques"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "ruff>=0.14.14",
]
